/* MAKET SPECIFIC STYLES */
.btn.focus, .btn:focus, .btn:hover {
    color: #a3e4a5;
    text-decoration: none;
}

/* BODY */
#lay_body {padding:60px 10px 40px 0px; /*width: 800px;*/ width: 11%; display: inline-block; vertical-align: top; color: yellow; }
.maintab {margin:0 auto;}
/* END BODY */

/* BLOCK 1 */
#lay_f1 {background:url(../../_mod_files/ce_images/img/topbg.jpg) repeat-x; 
background-position:top;}
/* END BLOCK 1 */

/* BLOCK 2 */
#lay_f2 {/*width:270px;*/box-sizing: content-box;width: 25%; padding:4px 25px 10px 0px; display: inline-block; vertical-align: top;}
.leftdiv {padding-right:#E7E7E7 1px solid;}
/* END BLOCK 2 */

/* BLOCK 3 */
#lay_f3 {}

/* BLOCK 5 */
/* END BLOCK 5 */


/* NEW BLOCK 555 */
#lay_f3_555 {}

/* NEW BLOCK 5 */

/* BLOCK 2 */
#lay_f233 {/*width:270px;*/box-sizing: content-box;width: 25%; padding:4px 25px 10px 0px; display: inline-block; vertical-align: top;}
.leftdiv {padding-right:#E7E7E7 1px solid;}
/* END BLOCK 2 */